@import '../abstract/media-queries';
.card {
  --px: 2.75rem;
  --border-radius: 0.4rem;
  color: var(--neutral-very-light-gray);
  width: calc(100% - 2.5rem - 2 * var(--px));
  margin: 0 auto;
  padding: 5.5rem var(--px) 3rem var(--px);
  font-family: 'Lexend Deca', sans-serif;
  background: var(--img) top var(--px) left var(--px) no-repeat,
    var(--bg-color, white);
  background-size: 3.5rem;
  max-width: 250px;

  &__title {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 2rem;
  }

  &__paragraph {
    line-height: 1.7;
    color: var(--neutral-transparent-white);
  }

  &--sedans {
    --bg-color: var(--primary-bright-orange);
    --img: url('../../images/icon-sedans.svg');
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    margin-top: 5rem;
  }

  &--suvs {
    --img: url('../../images/icon-suvs.svg');
    --bg-color: var(--primary-dark-cyan);
  }

  &--luxury {
    --img: url('../../images/icon-luxury.svg');
    --bg-color: var(--primary-very-dark-cyan);
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    margin-bottom: 5rem;
  }
  
  &__btn {
    display: inline-block;
    background-color: var(--neutral-very-light-gray);
    border: .15rem solid var(--neutral-very-light-gray);
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    margin: 0.5rem 0;
    color: var(--bg-color);
  }

  @include media-query($md-screen) {
    margin: 0;
    max-width: 225px;
    background-size: 4rem;

    &--sedans {
      --bg-color: var(--primary-bright-orange);
      --img: url('../../images/icon-sedans.svg');
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
      border-top-right-radius: 0;
    }

    &--suvs {
      --img: url('../../images/icon-suvs.svg');
      --bg-color: var(--primary-dark-cyan);
    }

    &--luxury {
      --img: url('../../images/icon-luxury.svg');
      --bg-color: var(--primary-very-dark-cyan);
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      border-bottom-left-radius: 0;
    }

    &__title {
      font-size: 2.5rem;
    }

    &__btn {
      margin-top: 3rem;
      &:hover {
        --border-size: .15rem;
        color: var(--neutral-very-light-gray);
        background-color: transparent;
      }
    }
  }
}
