@import '../abstract/media-queries';

.container {
  min-height: 100vh; 
  position: relative;

  @include media-query($md-screen){
    display: flex;
    justify-content: center;
    align-items: center;
  }
}